<div class="row">
	<div class="large-6 columns">
		<h4>LAST NAME, FIRST NAME</h4>
		Added January 1st, 2016
	</div>
</div>
<hr>
<div class="row">
	<div class="large-12 columns">
		<a class="button small" href="/client/edit/3">Edit</a>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<label><b>First Name</b><br>Text</label>
	</div>
	<div class="large-4 columns">
		<label><b>Last Name</b><br>Text</label>
	</div>
	<div class="large-4 columns">
		<label><b>Phone Number</b><br>Text</label>
	</div>
</div>
<div class="row">
	<div class="large-4 columns">
		<label><b>Emergency Contact Name</b><br>Text</label>
	</div>
	<div class="large-4 columns">
		<label><b>Emergency Contact Number</b><br>Text</label>
	</div>
	<div class="large-4 columns">
		<label><b>Emergency Contact Address</b><br>Text</label>
	</div>
</div>
<br>
<div class="row">
	<div class="large-3 columns">
		<label><b>Primary Address</b><br>Text</label>
	</div>
	<div class="large-3 columns">
		<label><b>Primary City</b><br>Text</label>
	</div>
	<div class="large-3 columns">
		<label><b>Primary State</b><br>Text</label>
	</div>
	<div class="large-3 columns">
		<label><b>Primary Zip Code</b><br>Text</label>
	</div>
</div>
<div class="row">
	<div class="large-3 columns">
		<label><b>Secondary Address</b><br>Text</label>
	</div>
	<div class="large-3 columns">
		<label><b>Secondary City</b><br>Text</label>
	</div>
	<div class="large-3 columns">
		<label><b>Secondary State</b><br>Text</label>
	</div>
	<div class="large-3 columns">
		<label><b>Secondary Zip Code</b><br>Text</label>
	</div>
</div>