<div class="row">
	<div class="large-6 columns">
		<h4>Search for a Client</h4>
	</div>
</div>
<hr>
<div class="row">
	<table id="Clients" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
			</tr>
		</thead>
	</table>
</div>
<script>
$("#Clients").DataTable({
	ajax:{
		url: "/client/list",
		dataSrc: function(json){
			return json;
		}
	},
	lengthChange: false,
	dom: "<'row'<'large-12 columns'f>r>t<'row'<'large-3 columns'i><'large-6 columns'p>>",
	oLanguage:{
		sSearch: ""
	}, 
	columns: [{
		"data": "ClientFirstName"
	},{
		"data": "ClientLastName"
	},{
		"data": "ClientPrimaryAddress"
	},{
		"data": "ClientPrimaryCity"
	},{
		"data": "ClientPrimaryState"
	},]
});
</script>