<div class="expanded row">
	<div class="large-12 columns">
		<h4>Analytics <small>Case, Due Dates, etc</small></h4>
	</div>
</div>
<div class="expanded row">
	<div class="large-6 columns">
		<div class="success callout">
			<table>
				<thead>
					<tr>
						<th width="200">Table Header</th>
						<th>Table Header</th>
						<th width="150">Table Header</th>
						<th width="150">Table Header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="success callout">
			<table>
				<thead>
					<tr>
						<th width="200">Table Header</th>
						<th>Table Header</th>
						<th width="150">Table Header</th>
						<th width="150">Table Header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="expanded row">
	<div class="large-6 columns">
		<div class="success callout">
			<table>
				<thead>
					<tr>
						<th width="200">Table Header</th>
						<th>Table Header</th>
						<th width="150">Table Header</th>
						<th width="150">Table Header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="large-6 columns">
		<div class="success callout">
			<table>
				<thead>
					<tr>
						<th width="200">Table Header</th>
						<th>Table Header</th>
						<th width="150">Table Header</th>
						<th width="150">Table Header</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
					<tr>
						<td>Content Goes Here</td>
						<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
						<td>Content Goes Here</td>
						<td>Content Goes Here</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>