<br><br><br>
<div class="row">
	<div class="large-offset-3 large-6 columns">
		<div class="callout large">
			<h5>L. A. W. <small> Login</small></h5>
			<form method="post" action="/login" data-abide novalidate>
				<div class="row">
					<div class="large-12 columns">
						<label>E-Mail
						<input type="email" name="UserEmail" required>
						<span class="form-error">E-Mail Required</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Password
						<input type="password" name="UserPassword" required>
						<span class="form-error">Password Required</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<button class="expanded button">Log In</button>
					</div>
					<div class="large-6 columns">
						<a class="expanded button" href="/register">Register</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>