<br><br><br>
<div class="row">
	<div class="large-offset-3 large-6 columns">
		<div class="callout large">
			<h5>Register for L. A. W.</h5>
			<form method="post" action="/register" data-abide novalidate>
				<div class="row">
					<div class="large-12 columns">
						<label>E-Mail
						<input type="email" name="UserEmail" required>
						<span class="form-error">A valid email is Required</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>
						First Name
						<input type="text" name="UserFirstName" required>
						<span class="form-error">First Name is Required</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>
						Last Name
						<input type="text" name="UserLastName" required>
						<span class="form-error">Last Name is Required</span>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<button class="expanded button" href="/register">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>